version: 2.1

jobs:
  test:
    parameters:
      helm:
        type: string

    machine:
      image: ubuntu-2004:202010-01
    environment:
      HELM_VERSION: << parameters.helm >>
      KUBEVAL_VERSION: v0.16.1
      CONFTEST_VERSION: 0.27.0
      K8S_VERSIONS: 1.21.4 1.20.10 1.19.13
      KUBECTL_VERSION: v1.21.4
      KUBECONFIG: /home/circleci/.kube/config
      MINIKUBE_VERSION: v1.23.0
      MINIKUBE_HOME: /home/circleci
      K8S_SCHEMAS: https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master
    steps:
      - checkout
      - run:
          name: setup kubectl
          command: |
            curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/${KUBECTL_VERSION}/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
            mkdir -p ${HOME}/.kube
            touch ${HOME}/.kube/config
      - run:
          name: setup minikube
          command: |
            curl -Lo minikube https://github.com/kubernetes/minikube/releases/download/${MINIKUBE_VERSION}/minikube-linux-amd64 && chmod +x minikube && sudo mv minikube /usr/local/bin/
      - run:
          name: setup helm
          command: curl -SL https://get.helm.sh/helm-v${HELM_VERSION}-linux-amd64.tar.gz | tar xvz -C /tmp && sudo chmod +x /tmp/linux-amd64/* && sudo mv /tmp/linux-amd64/* /usr/local/bin/
      - run:
          name: setup kubeval
          command: |
            curl -L https://github.com/instrumenta/kubeval/releases/download/${KUBEVAL_VERSION}/kubeval-linux-amd64.tar.gz -o kubeval-linux-amd64.tar.gz
            tar xf kubeval-linux-amd64.tar.gz
            sudo mv kubeval /usr/local/bin
      - run:
          name: setup conftest and deprek8ion
          command: |
            curl -SL https://github.com/open-policy-agent/conftest/releases/download/v${CONFTEST_VERSION}/conftest_${CONFTEST_VERSION}_Linux_x86_64.tar.gz -o conftest.tar.gz
            tar xf conftest.tar.gz
            sudo mv conftest /usr/local/bin
            curl https://raw.githubusercontent.com/naquada/deprek8/master/policy/deprek8.rego > deprek8.rego
      - run:
          name: Execute lint on the charts
          command: |
            helm lint ./awx -f examples/awx/values.yaml
            helm lint ./kube-iptables-tailer -f examples/kube-iptables-tailer/values.yaml
            helm lint ./neuvector -f examples/neuvector/values.yaml
            helm lint ./squid -f examples/squid/values.yaml
            helm lint ./teleport -f examples/teleport/values.yaml
            helm lint ./looker -f examples/looker/values.yaml
      - run:
          name: Execute helm template
          command: |
            helm template ./awx -f examples/awx/values.yaml > awx.yaml
            helm template ./kube-iptables-tailer -f examples/kube-iptables-tailer/values.yaml > kube-iptables-tailer.yaml
            helm template ./neuvector -f examples/neuvector/values.yaml > neuvector.yaml
            helm template ./squid -f examples/squid/values.yaml > squid.yaml
            helm template ./teleport -f examples/teleport/values.yaml > teleport.yaml
            helm template ./looker -f examples/looker/values.yaml > looker.yaml
      - run:
          name: Run kubeval on the charts to ensure kubernetes compability
          command: |
            for kv in ${K8S_VERSIONS}
            do
              kubeval -v $kv --strict awx.yaml --schema-location ${K8S_SCHEMAS}
              kubeval -v $kv --strict kube-iptables-tailer.yaml --schema-location ${K8S_SCHEMAS}
              kubeval -v $kv --ignore-missing-schemas --strict neuvector.yaml --schema-location ${K8S_SCHEMAS}
              kubeval -v $kv --strict squid.yaml --schema-location ${K8S_SCHEMAS}
              kubeval -v $kv --strict teleport.yaml --schema-location ${K8S_SCHEMAS}
              kubeval -v $kv --strict looker.yaml --schema-location ${K8S_SCHEMAS}
            done
      - run:
          name: Run deprek8
          command: |
            conftest test -p deprek8.rego awx.yaml
            conftest test -p deprek8.rego kube-iptables-tailer.yaml
            conftest test -p deprek8.rego neuvector.yaml
            conftest test -p deprek8.rego squid.yaml
            conftest test -p deprek8.rego teleport.yaml
            conftest test -p deprek8.rego looker.yaml
      - run:
          name: start minikube
          command: |
            minikube start --vm-driver=docker --cpus 2 --memory 5096 --network-plugin=cni --cni=calico --kubernetes-version=${KUBECTL_VERSION} &> $HOME/minikube.log 2>&1 < /dev/null
      - run:
          name: debug node
          command: |
            kubectl describe node
      - run:
          name: Setup Cluster
          command: |
            ./scripts/setup_cluster.sh
      - run:
          name: wait for minikube
          command: |
            JSONPATH='{range .items[*]}{@.metadata.name}:{range @.status.conditions[*]}{@.type}={@.status};{end}{end}';
            until kubectl get nodes -o jsonpath="$JSONPATH" 2>&1 | grep -q "Ready=True"; do
              sleep 1;
            done
      - run:
          name: Test awx installation
          command: |
            kubectl create namespace awx || true
            #helm upgrade awx ./awx/ --install  --timeout 500s --wait -f examples/awx/values.yaml --kube-context minikube --namespace awx
      - run:
          name: Test teleport installation
          command: |
            kubectl create namespace teleport || true
            helm upgrade teleport ./teleport/ --install  --timeout 500s --wait -f examples/teleport/values.yaml --kube-context minikube --namespace teleport
      - run:
          name: Test kube-iptables-tailer installation
          command: |
            kubectl create namespace kube-iptables-tailer || true
            helm upgrade kube-iptables-tailer ./kube-iptables-tailer/ --install  --timeout 500s --wait -f examples/kube-iptables-tailer/values.yaml --kube-context minikube --namespace kube-iptables-tailer
      - run:
          name: Test squid installation
          command: |
            kubectl create namespace squid || true
            helm upgrade squid ./squid/ --install  --timeout 500s --wait --kube-context minikube --namespace squid
      - run:
          name: Test op-scim installation
          command: |
            kubectl create namespace op-scim || true
            helm dependency update ./op-scim-bridge/
            helm upgrade op-scim ./op-scim-bridge/ --install  --timeout 500s --wait -f examples/op-scim-bridge/values.yaml --kube-context minikube --namespace op-scim
      - run:
          name: Test neuvector installation
          command: |
            kubectl create namespace neuvector || true
            kubectl create secret docker-registry dockerhub -n neuvector --docker-username=$DOCKERHUB_USERNAME --docker-password=$DOCKERHUB_PASSWORD
            helm upgrade neuvector ./neuvector/ --install  --timeout 300s --wait --kube-context minikube --namespace neuvector -f ./examples/neuvector/values.yaml
            helm delete neuvector --kube-context minikube --namespace neuvector
            helm upgrade neuvector-custom ./neuvector/ --install  --timeout 300s --wait --kube-context minikube --namespace neuvector -f ./examples/neuvector/values-custom.yaml
      - run:
          name: Test looker installation
          command: |
            kubectl create namespace looker || true
            kubectl create secret docker-registry dockerhub -n looker --docker-username=$DOCKERHUB_USERNAME --docker-password=$DOCKERHUB_PASSWORD
            helm upgrade looker ./looker/ --install  --timeout 500s --wait --kube-context minikube --namespace looker -f ./examples/looker/values.yaml
      - run:
          name: Debug on failures
          command: |
            cat $HOME/minikube.log
            kubectl get node
            kubectl get pod --all-namespaces
            kubectl describe pod --all-namespaces
            kubectl logs --tail 2000 -lapp.kubernetes.io/instance=looker -n looker
            helm list --all --kube-context minikube --namespace lifen-app-test
          when: on_fail

  release:
    parameters:
      helm:
        type: string
    environment:
      HELM_VERSION: << parameters.helm >>
    docker:
      - image: circleci/python:3
    steps:
      - checkout
      - run:
          name: Install helm
          command: |
            curl -SL https://get.helm.sh/helm-v${HELM_VERSION}-linux-amd64.tar.gz | tar xvz -C /tmp && sudo chmod +x /tmp/linux-amd64/* && sudo mv /tmp/linux-amd64/* /usr/local/bin/
      - add_ssh_keys:
          fingerprints:
            - "31:d4:50:ae:e8:c3:3b:3e:f4:66:48:47:7d:a0:18:a8"
      - run:
          name: Package and index doc
          command: |
            git config user.email "ops@lifen.fr"
            git config user.name "Lifen"
            git fetch origin
            git checkout -b release
            git checkout gh-pages
            git merge release  --no-edit
            helm init --client-only
            helm dependency update op-scim-bridge
            helm package kube-iptables-tailer -d packages
            helm package awx -d packages
            helm package squid -d packages
            helm package neuvector -d packages
            helm package teleport -d packages
            helm package op-scim-bridge -d packages
            helm package looker -d packages
            helm repo index packages --url https://honestica.github.io/lifen-charts/packages
            mv packages/index.yaml index.yaml
      - run:
          name: Push to repo
          command: |
            git add packages index.yaml
            git commit -m "relase version"
            git push origin gh-pages

workflows:
  version: 2
  build:
    jobs:
      - test:
          name: helm-3
          helm: 3.6.3
          filters:
            branches:
              ignore:
                - gh-pages
                - master
          context: org-global
      - release:
          helm: 3.6.3
          filters:
            branches:
              only: master
              ignore: gh-pages
